{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{% block title %}LIGHT-DASH{% endblock %}</title>

    <!-- CSS  -->
    <link href="{% static 'css/material.icons.css'%}" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css'%}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen" /> {% block css %} {% endblock %}
</head>

<body>
    <nav class="nav-extended lime accent-4">
        <div class="nav-wrapper container">
            <a href="{% url 'index' %}" class="brand-logo black-text">LIGHT-DASH</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'settings' %}" class="black-text"><i class="material-icons left">settings</i>Paramètres</a></li>
                <li><a href="{% url 'advanced' %}" class="black-text"><i class="material-icons left">bar_chart</i>Avancée</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile">
        <li><a href="{% url 'settings' %}"><i class="material-icons">settings</i>Paramètres</a></li>
        <li><a href="{% url 'advanced' %}"><i class="material-icons left">bar_chart</i>Avancée</a></li>
    </ul>


    <main>
        {% block main %}
        <div class="container">
            <div class="section">
                <div style="width:75%;">
                    <canvas id="canvas"></canvas>
                </div>
                <h3>Test</h3>
                {% for data in all_data %}
                <div>{{data.date}} - {{data.papp}} VA - {{data.iinst}} A - {{data.base}} Wh</div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </main>


    <footer class="page-footer lime accent-4">
        <div class="container">
            <div class="row">
                <div class="col l9 s12">
                    <h5 class="black-text">LIGHT-DASH</h5>
                    <p class="grey-text text-darken-3">"LInky Graphical wattHour Treatment Data Acquirement via Serial Hardware"</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container grey-text text-darken-3">
                GARCIA Florian et DANGUIN Axel
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'js/materialize.min.js'%}"></script>
    <script src="{% static 'js/init.js'%}"></script>
    {% block script %}
    <script src="{% static 'js/Chart.bundle.min.js'%}"></script>
    <script src="{% static 'js/ChartUtils.js'%}"></script>
    <script src="{% static 'js/testChart.js'%}"></script>
    {% endblock %}


</body>

</html>